<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Holmes</h2>
                        <hr class="star-primary">
                        <img src="{{assets}}/img/portfolio/holmes.png" class="img-responsive img-centered" alt="">
                        <p>Working in a SCRUM team to improve and expand a web application for registering inspections done by
                            the Inspectie Leefomgeving en Transport division of the Ministerie van Infrastructuur en Milieu.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://www.ilent.nl/">Ministerie VROM - ILenT</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong>Maart 2014 - September 2014</strong>
                            </li>
                            <li>Service:
                                <strong>Web/Java Development</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Porsche museum test drive</h2>
                        <hr class="star-primary">
                        <!--<img src="{{assets}}/img/portfolio/cake.png" class="img-responsive img-centered" alt="">-->
                        <p>Creating a website for Porsche musea where customers can register for test drives.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://www.porsche.com/museum/en/">Porsche museum</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong>2013/2014
                                </strong>
                            </li>
                            <li>Service:
                                <strong>Web/Java Development
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Belgacom mobile site</h2>
                        <hr class="star-primary">
                        <img src="{{assets}}/img/portfolio/belgacom.png" class="img-responsive img-centered" alt="Belgacom mobile site screenshot">
                        <p>Creating the mobile belgacom website. Magnolia CMS, AngularJS.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong>2013
                                </strong>
                            </li>
                            <li>Service:
                                <strong>Web/Java/Javascript Development
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Essent spaarpanelen</h2>
                        <hr class="star-primary">
                        <img src="{{assets}}/img/portfolio/essent.png" class="img-responsive img-centered" alt="Essent SpaarPanelen screenshot">
                        <p>Creating a website for Essent where solar panels can be ordered.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://spaarpanelen.essent.nl">Essent Spaarpanelen</a>
                                </strong>
                            </li>
                            <li>Date: <strong>2012</strong>
                            </li>
                            <li>Service:
                                <strong>Web/Java development</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>BVA Auctions iPhone app</h2>
                        <hr class="star-primary">
                        <img src="{{assets}}/img/portfolio/bvaiphone-logo.png" class="img-responsive img-centered" alt="BVA Auctions iPhone app screenshot">
                        <p>For BVA Auctions i took over the maintenance and new development for the iPhone app.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="https://itunes.apple.com/nl/app/bva-auctions/id435890755?mt=8">App store link</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong>2012-2014
                                </strong>
                            </li>
                            <li>Service:
                                <strong>iPhone development
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>BVA Auctions</h2>
                        <hr class="star-primary">
                        <img src="{{assets}}/img/portfolio/bva.png" class="img-responsive img-centered" alt="">
                        <p>Working in a SCRUM team to improve and extend the BVA Auctions website.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://bva-auctions.com">BVA Auctions</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong>2009-2013
                                </strong>
                            </li>
                            <li>Service:
                                <strong>Web/Java Development
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
