---
title: Home
---

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x">Holmes</i>
                        </div>
                    </div>
                    <img src="{{assets}}/img/portfolio/ilent-logo.png" class="img-responsive" alt="Holmes">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x">Porsche museum</i>
                        </div>
                    </div>
                    <img src="{{assets}}/img/portfolio/greenwheelsporsche-logo.png" class="img-responsive" alt="Greenwheels/Porsche logo's">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x">Belgacom mobile site</i>
                        </div>
                    </div>
                    <img src="{{assets}}/img/portfolio/belgacom-logo.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x">Essent Spaarpanelen</i>
                        </div>
                    </div>
                    <img src="{{assets}}/img/portfolio/essent-logo.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x">BVA Auctions iPhone app</i>
                        </div>
                    </div>
                    <img src="{{assets}}/img/portfolio/bvaiphone-logo.png" class="img-responsive" alt="BVA Auctions iPhone app">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x">BVA Auctions</i>
                        </div>
                    </div>
                    <img src="{{assets}}/img/portfolio/bva-logo.png" class="img-responsive" alt="BVA Auctions">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>I am a freelance software engineer with more than 18 years of software development experience. Most of my experience
                lies in Java backend development but i also worked extensively with javascript. Since 2011 i also have experience with
                creating native iOS applications.</p>

                <p>I like to be involved in all parts of the development process, from designing to hosting.</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 text-right">
                <em>E-mail</em>: sidney@beekhoven.nl<br/>
                <em>Phone</em>: 06-24557661<br/>
                <em>Address</em>: Flevoparkweg 22, Amsterdam
            </div>
            <div class="col-lg-4">
                <em>Linkedin</em>: <a href="http://nl.linkedin.com/in/sidneybeekhoven"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_greytxt_80x15.png" width="80" height="15" border="0" alt="View Sidney Beekhoven's profile on LinkedIn"></a><br/>
                <em>KvK</em>: 60724846<br/>
                <em>BTW Nummer</em>: NL188723420B01
            </div>
        </div>
    </div>
</section>
